@page
@model IndexModel
@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
     <p class="p-3">Nous sommes ravis de vous avoir ici. Découvrez nos projets et faites un don!</p
</div>
